<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALI JAMIL - About Me</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="aboutme" id="aboutme-main">
        <h1>About Me</h1>
        <div class="aboutme" id="aboutme-summary">
            <h2>Summary</h2>
            <p>Hello! I'm Ali JAMIL, I'm an AI Engineer | Software and Back-end Developer</p>
            <div class="aboutme" id="aboutme-skills">
                <h2>Skills</h2>
                <ul>
                    <li>
                        <p>Python</p>
                        <p>Javascript</p>
                        <p>C#</p>
                        <p>Git & GitHub</p>
                        <p>HTML & CSS</p>
                        <p>Machine Learning</p>
                        <p>Back-end</p>
                        <p>Deep Learning</p>
                        <p>Artificial Intelligence</p>
                        <p>PyTorch</p>
                        <p>Flask</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>